<!DOCTYPE html>
<html>
<head>
  <title>Trax Admin</title>
  <%= stylesheet_link_tag    "trax/admin/application", media: "all" %>
  <%= javascript_include_tag "trax/admin/application" %>
  <%= csrf_meta_tags %>
  <base href="/admin/">
</head>
<body ng-app="admin">

  <%= render :partial => "trax/admin/layouts/header" %>
  <section id="page">
    <%= render :partial => "trax/admin/layouts/sidebar" %>
      
    <div id="main-content">
      <primaryspinner color="#e51f1c" offsettop="6" direction="-1" lines="11"></primaryspinner>
      <div class="container">
        <div class="row">
          <div class="col-lg-12" id="content" ui-view>
            
          </div>
        </div>
      </div>
    </div>
    
    <div class="separator"></div>
    
  </section>
</body>
</html>
